test.smc
__pycache__
Vanilla.smc
vanillanoh.smc
vanillanoh-1.bst
vanillanoh-trace.log
vanillanoh.smp.sym
vanillanoh.cpu.sym
vanillanoh.bp
vanillanoh.smc.bak
Vanilla2.smc
Vanilla.bp
Vanilla.cpu.sym
Vanilla.smp.sym
.vscode/settings.json
debug.cpu.sym
debug.smc
debug.smp.sym
debug-1.bst
debug-trace.log
debug.bp
